@use 'mixins';
@use 'tokens';
@use 'typography';

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

html,
body {
  min-height: 100%;
}

body {
  background-color: var(--color-bg);
  color: var(--color-on-bg);
  font-family: var(--font-main);
  font-size: var(--body-medium);
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  @include mixins.visually-hidden;
}

button {
  font-family: inherit;
}
